version: "3.8"
services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3307:3306"

  php1:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    environment:
      APP_SERVER_NAME: "Serveur 1"
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: laravel
      DB_USERNAME: laravel
      DB_PASSWORD: laravel
    volumes:
      - ./TP-Final-3IW-ESGI:/var/www/html
    depends_on:
      - db

  php2:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    environment:
      APP_SERVER_NAME: "Serveur 2"
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: laravel
      DB_USERNAME: laravel
      DB_PASSWORD: laravel
    volumes:
      - ./TP-Final-3IW-ESGI:/var/www/html
    depends_on:
      - db

  nginx1:
    image: nginx:alpine
    ports:
      - "8081:80"
    volumes:
      - ./TP-Final-3IW-ESGI:/var/www/html
      - ./docker/nginx/nginx1.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php1

  nginx2:
    image: nginx:alpine
    ports:
      - "8082:80"
    volumes:
      - ./TP-Final-3IW-ESGI:/var/www/html
      - ./docker/nginx/nginx2.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php2

volumes:
  db_data:
